<br>
<button class="btn btn-primary col-2 offset-1" routerLink="/administracion/crear-usuario">Registrar usuario</button>
<table class="table responsive striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Cedula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Correo
            </th>

            <th>
                Rol
            </th>
            <th>
                Editar
            </th>
            <th>
                Borrar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoUsuarios">
            <td>
                {{p.cedula}}
            </td>
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.apellido}}
            </td>
            <td>
                {{p.telefono}}
            </td>
            <td>
                {{p.correo}}
            </td>
            
            <td>
                {{p.rol}}
            </td>
            <td>
                <button class="btn btn-warning bi bi-pencil-square " routerLink="/administracion/editar-usuario/{{p.id}}"></button>
            </td>
            <td>
                <button class="btn btn-danger bi bi-trash-fill" routerLink="/administracion/eliminar-usuario/{{p.id}}"></button>
            </td>

        </tr>
    </tbody>

</table>
