<table class="table responsive">
    <thead>
        <tr>
            <th>
                Cedula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Correo
            </th>
            <th>
                Contrasena
            </th>
            <th>
                Rol
            </th>
            <th>
                Editar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p for listadoRegistros">
            <td>
                {{p.cedula}}
            </td>
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.apellidos}}
            </td>
            <td>
                {{p.telefono}}
            </td>
            <td>
                {{p.correo}}
            </td>
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.nombre}}
            </td>

        </tr>
    </tbody>

</table>