<br>
<button class="btn" routerLink="/administracion/crear-usuario">Nuevo</button>
<table class="table responsive striped">
    <thead>
        <tr>
            <th>
                Cedula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Correo
            </th>
            <th>
                Contrasena
            </th>
            <th>
                Rol
            </th>
            <th>
                Editar
            </th>
            <th>
                Borrar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoUsuarios">
            <td>
                {{p.cedula}}
            </td>
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.apellido}}
            </td>
            <td>
                {{p.telefono}}
            </td>
            <td>
                {{p.correo}}
            </td>
            <td>
                {{p.contrasena}}
            </td>
            <td>
                {{p.rol}}
            </td>
            <td>
                <a routerLink="/administracion/editar-usuario/{{p.id}}">Editar</a>
            </td>
            <td><a routerLink="/administracion/eliminar-usuario/{{p.id}}">Borrar</a></td>

        </tr>
    </tbody>

</table>
