<br>
<br>
<button class="btn btn-primary col-2 offset-1" routerLink="/administracion/crear-producto">Crear nuevo producto</button>
<br>
<table class="table responsive striped">
    <thead class="thead-dark">
        <tr>
            <th>
                id
            </th>
            <th>
                Foto
            </th>
            <th>
                tipo
            </th>
            <th>
                nombre
            </th>
            <th>
                descripcion
            </th>
            <th>
                precio
            </th>
            <th>
                Editar
            </th>
            <th>
                Borrar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.id}}
            </td>
            <td>
                <img src={{p.foto}} class="imagenMascota" />
            </td>
            <td>
                {{p.tipo}}
            </td>
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.descripcion}}
            </td>
            <td>
                {{p.precio}}
            </td>
            <td>
                <button class="btn btn-warning bi bi-pencil-square " routerLink="/administracion/editar-producto/{{p.id}}"></button>
            </td>
            <td>
                <button class="btn btn-danger bi bi-trash-fill" routerLink="/administracion/eliminar-producto/{{p.id}}"></button>
            </td>

        </tr>
    </tbody>

</table>

