<br>
<br>
<div class="row">
    <br>
    <h3 class="text-center">Editar Mascota</h3>
    <br>
    <br>
    <article class="col s6 offset-s3 text-center">
      <form class="text-center" [formGroup]="fgvalidador" (ngSubmit)="Editarmascota ()" action="">
            <input type="hidden" formControlName = "id">
            <div class="input-field">
                <label for="nombre" class="active">Nombre</label>
                <input formControlName="nombre" type="text" name="nombre" required>
            </div>

            <div class="input-field">
                <label for="foto" class="active">foto</label>
                <input formControlName="foto" type="text" name="foto" required>
            </div>

            <div class="input-field">
                <label for="estado" class="active">Estado</label>
                <input formControlName="estado" type="text" name="estado" required>
            </div>

            <div class="input-field">
                <label for="especie" class="active">Especie</label>
                <input formControlName="especie" type="text" name="especie" required>
            </div>

            <div class="input-field">
                <label for="comentario" class="active">Comentario</label>
                <input formControlName="comentario" type="text" name="comentario" required>
            </div>

            <div class="input-field">
                <label for="usuarioId" class="active">UsuarioId</label>
                <input formControlName="usuarioId" type="text" name="usuarioId" required>
            </div>

            <div class="input-field">
                <label for="planId" class="active">PlanId</label>
                <input formControlName="planId" type="text" name="planId" required>
            </div>

            <div class="input-field">
                <label for="estadoAfiliacion" class="active">Estado de afiliación</label>
                <input formControlName="estadoAfiliacion" type="text" name="estadoAfiliacion" required>
            </div>

            <br>
            <br>
            <button [disabled]="fgvalidador.invalid" class="btn btn-warning" type="submit">Actualizar</button>
        </form>
    </article>
</div>
<br>
<br>
