<div class="row">
    <h3 class="center-aling">Crear Productos</h3>
    <article class="col s6 offset-s3">
        <form [formGroup]="fgvalidador" (ngSubmit)="Editarmascota()" method="POST" action="formulario-contacto.php">
            <input type="hidden" formControlName="id" />
            <div class="input-field">
                <label for="nombre" class="active">Nombre</label>
                <input formControlName="nombre" type="text" name="nombre" required>
            </div>

            <div class="input-field">
                <label for="foto" class="active">foto</label>
                <input formControlName="foto" type="text" name="foto" required>
            </div>

            <div class="input-field">
                <label for="estado" class="active">Estado</label>
                <input formControlName="estado" type="text" name="estado" required>
            </div>

            <div class="input-field">
                <label for="especie" class="active">Especie</label>
                <input formControlName="especie" type="text" name="especie" required>
            </div>

            <div class="input-field">
                <label for="comentario" class="active">Comentario</label>
                <input formControlName="comentario" type="text" name="comentario" required>
            </div>

            <div class="input-field">
                <label for="usuarioId" class="active">UsuarioId</label>
                <input formControlName="usuarioId" type="text" name="usuarioId" required>
            </div>

            <div class="input-field">
                <label for="planId" class="active">PlanId</label>
                <input formControlName="planid" type="text" name="planId" required>
            </div>

            <p class="center-aling">
                <button [disabled]="!fgvalidador.valid" class="wavs-effect waves-light btn" type="submit"><i
                        class="material-icon right">send</i>Enviar</button>
            </p>


        </form>
    </article>
</div>