<br>
<br>
<div class="row">
    <br>
    <h3 class="text-center">Editar Producto</h3>
    <br>
    <br>
    <article class="col s6 offset-s3 text-center">
      <form class="text-center" [formGroup]="fgvalidador" (ngSubmit)="Editarproducto ()" action="">
            <input type="hidden" formControlName = "id">
            <div class="input-field">
                <label for="tipo"class="active">Tipo</label>
                <input formControlName = "tipo" type="text" name="tipo" required>
            </div>

            <div class="input-field">
                <label for="nombre"class="active">Nombre</label>
                <input formControlName = "nombre" type="text" name="nombre" required>
            </div>

            <div class="input-field">
                <label for="descripcion"class="active">Descripcion</label>
                <input formControlName = "descripcion" type="text" name="descripcion" required>
            </div>

            <div class="input-field">
                <label for="precio"class="active">Precio</label>
                <input formControlName = "precio" type="text" name="precio" required>
            </div>
            <br>
            <br>
            <button [disabled]="fgvalidador.invalid" class="btn btn-warning" type="submit">Actualizar</button>
        </form>
    </article>
</div>
<br>
<br>
