<br>
<button class="btn btn-primary col-2 offset-1" routerLink="/administracion/crear-mascota">Afiliar nueva mascota</button>
<table class="table responsive striped">
    <thead class="thead-dark">
        <tr>
            <tr>
                <th>
                    id
                </th>
                <th>
                    nombre
                </th>
                <th>
                    foto
                </th>
                <th>
                    estado
                </th>
                <th>
                    especie
                </th>
                <th>
                    comentario
                </th>
                <th>
                    usuarioId
                </th>
                <th>
                    planId
                </th>
                <th>
                    estadoAfiliacion
                </th>
            <th>
                Editar
            </th>
            <th>
                Borrar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let p of listadoRegistros">
            <td>
                {{p.id}}
            </td>
            <td>
                {{p.nombre}}
            </td>
            <td>
                <img src={{p.foto}} class="imagenMascota" />
            </td>
            <td>
                {{p.estado}}
            </td>
            <td>
                {{p.especie}}
            </td>
            <td>
                {{p.comentario}}
            </td>
            <td>
                {{p.usuarioId}}
            </td>
            <td>
                {{p.planId}}
            </td>
            <td>
                {{p.estadoAfiliacion}}
            </td>
            
            <td>
                <button class="btn btn-warning bi bi-pencil-square " routerLink="/administracion/editar-mascota/{{p.id}}"></button>
            </td>
            <td>
                <button class="btn btn-danger bi bi-trash-fill" routerLink="/administracion/eliminar-mascota/{{p.id}}"></button>
            </td>

        </tr>
    </tbody>

</table>
