<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PlayTime Pets</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <div class="container">
        <h3 class="blue-text">Bienvenido a PlayTime Pets</h3>
        <img class="responsive-img" src="">
    </div>
    <div class="row">
        <div class="col-4 ">
            <div class="card">
                <div class="card-image">
                    <img src="/assets/Images/Planes/Oro.png">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-image">
                    <img src="/assets/Images/Planes/Plata.png">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-image">
                    <img src="/assets/Images/Planes/Bronce.png">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image col-5">
                <img class="responsive-img" src="/assets/Images/img1.jpg">
            </div>
            <div class="card-stacked col-5">
                <div class="card-content">
                    <form class="custom-form volunteer-form mb-5 mb-lg-0" action="#" method="post" role="form">
                        <h3 class="mb-4 blue-text">¡Escribenos!</h3>

                        <div class="col-lg-12">
                            <div class="">
                                <input type="text" name="volunteer-name" id="volunteer-name" class="form-control"
                                    placeholder="Nombres" required>
                            </div>

                            <div class="">
                                <input type="email" name="volunteer-email" id="volunteer-email" pattern="[^ @]*@[^ @]*"
                                    class="form-control" placeholder="Correo Electrónico" required>
                            </div>

                            <div class="col-lg-12 col-12">
                                <input type="text" name="volunteer-subject" id="volunteer-subject" class="form-control"
                                    placeholder="Asunto" required>
                            </div>
                        </div>

                        <textarea name="volunteer-message" rows="3" class="form-control" id="volunteer-message"
                            placeholder="Escribe aquí tu mensaje..."></textarea>

                        <button type="button" class="btn blue">Enviar</button>
                    </form>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <script>

        var instance = M.Carousel.init({
            fullWidth: true
        });
    </script>
</body>

</html>