
<nav>
    <div class="nav-wrapper blue">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="badges.html">Sobre Nosotros</a></li>
        <li><a routerLink="collapsible.html">Planes</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">LOG IN</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">LOG OUT</a></li>
      </ul>
    </div>
    
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a routerLink="/inicio">Inicio</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="badges.html">Sobre Nosotros</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="collapsible.html">Planes</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/identificar">LOG IN</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">LOG OUT</a></li>
  </ul>