<div class="row">
    <h3 class="center-aling">Crear Productos</h3>
    <article class="col s6 offset-s3">
        <form [formGroup]="fgvalidador" (ngSubmit)="Guardarproducto()" method="POST" action="formulario-contacto.php">
           

            <div class="input-field">
                <label for="tipo">Tipo</label>
                <input formControlName = "tipo" type="text" name="tipo" required>
            </div>

            <div class="input-field">
                <label for="nombre">Nombre</label>
                <input formControlName = "nombre" type="text" name="nombre" required>
            </div>

            <div class="input-field">
                <label for="descripcion">Descripcion</label>
                <input formControlName = "descripcion" type="text" name="descripcion" required>
            </div>

            <div class="input-field">
                <label for="precio">Precio</label>
                <input formControlName = "precio" type="text" name="precio" required>
            </div>

            
            <p class="center-aling">
                <button [disabled]="!fgvalidador.valid" class="wavs-effect waves-light btn" type="submit"><i
                        class="material-icon right">send</i>Enviar</button>
            </p>


        </form>
    </article>
</div>